.help-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}

.help-icon{
  color: var(--distintivo);
  font-size: 2rem;
}

.help-container h2{
  font-family: 'Supersonic';
  letter-spacing: 4px;
  font-size: 2rem;
}

.help-container p{
  letter-spacing: 1px;
  text-align: center;
}

.help-container p::before{
  content: '👻 ';
  font-size: small;
}

.help-container i{
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.help-container a{
  color: white;
  text-transform: capitalize;
  font-family: 'Supersonic';
  text-decoration: none;
  position: absolute;
  top: 1rem;
  left: 1rem;

}

.help-container a:active{
  color: var(--distintivo);
}

@media only screen and (min-width: 768px) { 
  .help-icon{
    font-size: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  .help-container a {
    top: 3rem;
    left: 3rem;
  }

  .help-container a:active{
    background-color: var(--violeta);
  }
}