@font-face{
  font-family: 'Supersonic';
  src: url("./fonts/Supersonic\ Rocketship.ttf");
}

@font-face{
  font-family: 'Comfortaa';
  src: url("./fonts/Comfortaa-Bold.ttf");
}

:root{
  --cyan: #61dafb;
  --negro: #282c34;
  --primario: #87079d;
  --distintivo: #F08F13;
}

body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  background: url('./img/bg-app.jpg') repeat center / cover;
}